<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold is-size-4" href="{% url 'home_page' %}">
      UGTSIC - CV HUB
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <a href="{% url 'logout' %}" class="button is-light">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
        </span>
        <span>Sair</span>
      </a>
    </div>
  </div>
</nav>