{% extends 'style_base/style_base.html' %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="full_name">Nome completo:</label>
        <input type="text" name="full_name" value="{{ cv.full_name }}" required><br>

        <label for="email">E-mail:</label>
        <input type="email"name="email" value="{{ cv.email }}" required><br>

        <label for="phone">Telefone:</label>
        <input type="text" name="phone" value="{{ cv.phone }}" required><br>

        <label for="education">Escolaridade:</label>
        <select name="education" required>
            <option value="Ensino Médio(Incompleto)" {% if cv.education_level == "Ensino Médio(Incompleto)" %}selected{% endif %}>Ensino Médio (Incompleto)</option>
            <option value="Ensino Médio(Completo)" {% if cv.education_level == "Ensino Médio(Completo)" %}selected{% endif %}>Ensino Médio (Completo)</option>
            <option value="Ensino Superior(Incompleto)" {% if cv.education_level == "Ensino Superior(Incompleto)" %}selected{% endif %}>Ensino Superior (Incompleto)</option>
            <option value="Ensino Superior(Completo)" {% if cv.education_level == "Ensino Superior(Completo)" %}selected{% endif %}>Ensino Superior (Completo)</option>
        </select><br>

        <label for="desired_position">Cargo Desejado:</label>
        <input type="text" name="desired_position" value="{{ cv.desired_position }}" required><br>

        <label for="observations">Observações:</label>
        <textarea name="observations">{{ cv.observations }}</textarea><br>

        <label for="cv_file">Arquivo do CV:</label>
        <input type="file" name="cv_file" accept=".pdf,.doc,.docx"><br>

        <input type="hidden" name="ip_address" value="{{ ip_address }}">

        <button type="submit">Atualizar</button>
    </form>
{% endblock content %}